# yaml-language-server: $schema=none
CompileFlags:
  Compiler: C:/msys64/ucrt64/bin/gcc.exe
  Add:
    - --target=x86_64-w64-mingw32
    - -isystemC:/msys64/ucrt64/include
    - -isystemC:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/14.2.0/include
    - -isystemC:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/14.2.0/include-fixed

